/* Login and Register buttons */
.button-wrapper .glowing-btn {
  display: inline-block;
  width: 100px; height: 45px;
}

/* IMAGE BORDER EFFECT */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.login-card {
  margin: 0 auto;
  width: 450px;
  position: relative;
}

.card-bg {
  position: absolute;
  top: 0; right: 0;
  width: 100%; height: 100%;
  z-index: -1;
  /* background-color: black; */
  background: url("../assets/bg/login-cover.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  border-radius: 6px;
}

.login-card::before, .login-card::after {
  content: '';
  position: absolute;
  width: 101%; height: 100.5%;
  top: 50%; left: 50%;
  translate: -50% -50%; 
  z-index: -2;
  background:
    conic-gradient(
    from var(--angle),
    #1e232b83, 
    #1e232b, 
    #4b5869, 
    #1e232b, 
    #1e232b83);
  border-radius: 8px;
  animation: bg-rotate 9s linear infinite;
}

/* border glow effect */
.login-card::before {
  display: none; /* disable for now */
  filter: blur(1rem);
  opacity: 1;
}

@keyframes bg-rotate {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}

/* form */
#login-form {
  height: 100%;
  padding: 2em;
  color: var(--text-secondary);
  text-align: center;
}

#login-form .field {
  text-align: left;
  margin-bottom: 1.4em;
  display: flex;
  flex-direction: column;
}

#login-form .field label {
  transition: font-weight 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}

/* this class toggles via JS */
#login-form .field label.focused-label {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 1.05em;
}

#login-form .field input {
  border: none;
  border-bottom: 2px solid rgba(126, 100, 255, 0.4);
  background: transparent;
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  transition: border-bottom 0.3s ease;
}

#login-form .field input:focus {
  outline: none;
  border-bottom: 2px solid var(--main-color);
}

/* error messages - global, for all potential form elements to use */
.error-message {
  color: var(--error); /* subtle red */
  font-size: 0.85rem;
  margin-top: 0.2em;
  font-family: 'Poppins', sans-serif;
  min-height: 1em; /* reserve space even if empty */
  opacity: 0;
  transition: opacity 0.3s ease;
}

input.error {
  border-color: var(--error); /* red border on error */
}

.error-message.active {
  opacity: 1;
}

/* captcha */
.captcha {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.captcha p {
  width: fit-content;
  padding: 0.4em 0.8em;
  background-color: rgba(44, 44, 44, 0.2);
  color: #855558;
  font-family: 'Courier New', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 8px;
}

.captcha input {
  text-align: center;
  padding: 0.5em;
  background: transparent;
  border: 0.8px solid var(--text-secondary);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: var(--text-primary);
}

.captcha input:focus {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.forgot-pw-link {
  color: var(--text-secondary);
  transition: 0.15s ease;
}

.forgot-pw-link:hover,
.forgot-pw-link:focus-visible {
  text-decoration: underline;
  color: var(--text-primary);
}

@media (max-height: 800px) {
  .title-text {
    display: none;
  }

  .login-card {
    width: 380px;
  }
}